<p>
ID: <%= user.user.id %><br/>
Username: <%= user.user.username %><br/>
Name: <%= user.user.displayName %><br/>
<% if (user.user.emails) { %>
Email: <%= user.user.emails[0].value %><br/>
<% } %>

<% for (var i=0; i<user.posts.length; i++){ %>
  Post: <%= user.posts[i].story %><br/>
<% } %>
</p>
